@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/typography";
@import "./base/base";


//TODO: move those lines in components ? layout ? pages ?

/*Navigation*/

.navigationBar {
    @include font(1em, bold);
    ul {
        display: flex;
        justify-content: center;
        color: $primary;
        @extend %default-ul;
    }

    &__link {
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover {
            color: $accent;
            font-weight: bold;
            margin-top: -5px;
        }
    }
}

/*Hero Banner*/

.heroBanner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    margin: 5em;
    color: $offWhite;

    .leftCard {
        width: 30%;
        h1 {
            @include font(map-get($font-size, title), bold);
            margin-bottom: .1em;
        }
        h2 {
            @include font(map-get($font-size, subtitle), normal);
            margin-top: 0;
            margin-bottom: .1em;
        }
        p {
            @include font(map-get($font-size, p), normal);
            text-align: justify;
        }

        &__links {
            margin-top: 1em;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            border-radius: 100px;
            padding: 20px;
            color: $offWhite;
            @include font(1em, normal);
            &--linkedIn {
                @include leftCard-buttons-appearance(blue)
            }
            &--gitHub {
                @include leftCard-buttons-appearance(#18181A)
            }
        }
    }
}

p {
	font-size: 1.3em;
}

	/*Right Part*/

.profilPicture {
	max-height: 30%;
	max-width: 30%;
    border-radius: 50%;
    @include profile-picture-shadow(blue);
}